{% extends 'base.html' %}

{% block title %}Welcome!{% endblock %}

{% block content %}
    <h1>Baseball Statistics R Us!</h1>
    <p>
        This is the beginning of an application for managing baseball statistics in a Postgres database.
        We started with Lahman's data and have added addition salary information.  We'll start with a
        simple query to fetch the players for a teamid and year.
    </p>
    <p>
        <button>
            <a href="{{ url_for('team_view') }}">Team Lookup</a>
        </button>
        <button>
            <a href="{{ url_for('player_view') }}">Player Lookup</a>
        </button>
    </p>
{% endblock %}
